<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="niteco.com.auto.mydemo.POMwithPage"/>
     <!--  <class name="niteco.com.auto.mydemo.POISample"/>
      <class name="niteco.com.auto.mydemo.NewCustomer"/>
      <class name="niteco.com.auto.mydemo.Login"/>
      <class name="niteco.com.auto.mydemo.DataProviderSample"/>
      <class name="niteco.com.auto.mydemo.POMwithPageFactory"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
